/* fullscreen */
.fullscreen .container {
    width: auto;
}
.fullscreen canvas {
    display: block;
    width: 100vw;
    height: 100vh;
    max-width: calc(100vh * (16 / 9));
    max-height: calc(100vw * (9 / 16));
}
.fullscreen .fullscreenButton {
    display: none;
}
